# Ignore build directory
/build/

# Ignore temporary files
*.tmp

# Ignore compiled object files
*.o

# Ignore log files
*.log

# Ignore executables
*.exe

# Ignore IDE-specific files
.vscode/
.idea/
